* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", serif;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    padding: 1.25rem; /* 20px */
    background-color: #FFFFFF;
}

header nav ul {
    display: flex;
    gap: 1.875rem; /* 30px */
    list-style: none;
    margin-left: 31.25rem; /* 500px */
    justify-content: space-evenly;
}

header nav ul li a {
    text-decoration: none;
    color: #af1a1a;
    font-weight: inherit;
    font-size: 1.5rem; /* 24px */
}

header .logo img {
    width: 8.75rem; /* 140px */
    height: auto;
    border: 0.0625rem solid black; /* 1px */
    border-radius: 3.75rem; /* 60px */
    margin-left: 4.375rem; /* 70px */
}

header nav ul li a:hover {
    color: crimson;
    transition-duration: 0.2s;
    font-weight: bold;
}

.active {
    font-weight: bold;
}
